<section class="module parallax parallax-1">
  <div class="container"></div>
</section>

<section class="accomplishment">
	<% @accomplishments.each do |a| %>
		<div class="accomplishment">
			<h2><%= a.title %></h2>
			<p><%= a.desc %></p>
		</div>
	<% end %>
</section>