<section class="module parallax parallax-1">
  <div class="container">
  </div>
</section>


<section class="module content">
  <div class="container">

  <h2> What I've Been up to</h2>

	</div>
</section>

	<section class="module parallax parallax-2" 
	id="accomplishments">
	  <div class="container">

			<% @accomplishments.each do |a| %>
				<article class="feat_card" >
				    <h2><%= a.title %></h2>
				    <p><%= truncate(a.desc, :length => 115) %></p>
				 </article>
			<% end %>

				<article class="feat_card" >
				   <a href="/accomplishment"> <h2>See <br> More...</h2> </a>
				 </article>
    </div>
	</section>

	<section class="module content">
  <div class="container">

  <h2> What I've Been up to</h2>

	</div>
</section>
</div>