<section class="module parallax parallax-1">
  <div class="container">
  </div>
</section>

<section id="accomplishment">
	<% @accomplishments.each do |a| %>
		<div id="f1_container">
		<div id="f1_card" class="shadow">
		  <div class="front face">
		    <h2><%= a.title %></h2>
		  </div>
		  <div class="back face center">
		    <p><%= a.desc %></p>
		  </div>
		</div>
		</div>	
	<% end %>
</section>

<section class="module parallax parallax-2">
  <div class="container"></div>
</section>
