<section class="module parallax parallax-1" id="accomplishments">
  <div class="container">

			<% @accomplishments.each do |a| %>
				<article class="feat_card">
					<h2><%= a.title %></h2>
					<p><%= truncate(a.desc, :length => 115) %></p>
				</article>
			<% end %>

			<%= will_paginate @accomplishments %>
  </div>
</section>



